.contact-links-container {
    display: flex;
    flex-direction: column;
    gap: 20pt;
    align-items: center;
    justify-content: center;
    width: 10%;
    margin-left: 10%;
  }
  
  .contact-links-logo {
    max-width: 5%;
    border: none;
    min-width: 50pt;
  }

  @media (max-width: 615px) { 
    .contact-links-container {
      flex-direction: row;
      margin-left: 0%;
    }

    .contact-links-logo {
      max-width: 5%;
      border: none;
      min-width: 35pt;
    }
  }
  
  
  div > a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
