.contact-links-container {
    display: flex;
    flex-direction: row;
    gap: 20pt;
    align-items: center;
    justify-content: center;
    width: 10%;
  }
  
  .contact-links-logo {
    max-width: 5%;
    border: none;
    min-width: 50pt;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .contact-links-logo:hover {
    transform: scale(1.05);
}

  @media (max-width: 615px) { 
    .contact-links-container {
      flex-direction: row;
      margin-left: 0%;
    }

    .contact-links-logo {
      max-width: 5%;
      border: none;
      min-width: 35pt;
    }
  }
  

  div > a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
