.navbar {
  background-color: #E6E8E6;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: none;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: end;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  display: block;
  color: #7b7b7b;
  text-align: center;
  padding: 8px 15px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: #0056b3;
}

.nav-links .active a {
  color: rgb(0, 0, 0);
}