.navbar {
  background-color: #E6E8E6;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: -35px; /* Initially hidden above the viewport */
  z-index: 1000;
  transition: top 0.3s ease-in-out;
}

.navbar.visible {
  top: 0; /* Slide down into view */
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: end;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  display: block;
  color: #080708;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.nav-links a:hover {
  background-color: #ddd;
  color: #FDCA40;
}

.nav-links .active a {
  background-color: #DF2935;
  color: white;
}