.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

section {
  padding: 100px 20px;
  height: 100vh;
}

#home {
  background-color: #f4f4f4;
}

#home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#name-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#my-pic {
  width: 50vh;
}

#about {
  background-color: #e2e2e2;
}

#portfolio {
  background-color: #d0d0d0;
}

#contact {
  background-color: #bebebe;
}