html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  scroll-snap-type: y mandatory;
  height: 100vh;
  margin: 0;
}

section {
  padding: 100px 20px;
  height: 100vh;
  scroll-snap-align: start;
}

#home {
  background-color: #E6E8E6;
}

#home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#name-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: cadetblue; */
}

#name {
  font-size: 10vh;
  color: transparent;
  background-color: #3772FF;
  background-clip: text;
  -webkit-background-clip: text;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

#job-title{
  font-size: 10vh;
  color: #080708;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}


#my-pic {
  width: 50vh;
}

#about {
  background-color: #E6E8E6;
}

#portfolio {
  background-color: #E6E8E6;
}

#projects-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#project-1 {
  background-color: aqua;
  height: 50vh;
  width: 25vh;
}

#project-2 {
  background-color: rgb(79, 185, 185);
  height: 50vh;
  width: 25vh;
}

#project-3 {
  background-color: rgb(54, 107, 107);
  height: 50vh;
  width: 25vh;
}

#project-4 {
  background-color: rgb(7, 48, 48);
  height: 50vh;
  width: 25vh;
}

#contact {
  background-color: #E6E8E6;
}